<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static\base.css">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body style='overflow-x:hidden;'>
<img src="{{ url_for('static', filename='scale_1200.jpeg') }}", style="width: 100%", class="background"/>
<h2><span> Данный сайт предназначен для покупки/продажи домашних животных</span></h2>
<a href="http://127.0.0.1:8080/choose_pet" target="_self" class="choose_pet">Выбор питомца</a>
<a href="http://127.0.0.1:8080/give_pet" target="_self" class="give_pet">Отдать питомца</a>
<a href="http://127.0.0.1:8080/contacts_author" target="_self" class="contacts_author">Контакты автора</a>

</body>
</html>