<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static\contacts_author.css">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body style='overflow-x:hidden;'>
<img src="{{ url_for('static', filename='1659616674_5-kartinkin-net-p-svetlaya-tekstura-dlya-saita-krasivo-5.png') }}", style="width: 100%", class="background"/>
<div id="box"></div>
<a href="http://127.0.0.1:8080/" class="back">Назад</a>
<p class="contact">Сотсети и контакты</p>

<div id="city"></div>
<div id="vk"></div>
<div id="gmail"></div>
<div id="tg"></div>

<p class="city"> Город </p>
<p class="name"> Воронеж </p>
<p class="vk"> Вконтакте </p>
<p class="gmail"> Gmail-адресс </p>
<p class="tg"> Телеграм </p>

<a href="https://vk.com/id556594215" class="vk_link"> https://vk.com </a>
<a href="slava.grebennikoff@gmail.com" class="gmail_link"> slava.grebennikoff@gmail.com </a>
<a href="https://t.me/grebennikov_vyacheslav" class="tg_link"> https://t.me/ </a>

</body>
</html>